*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
    overflow: hidden;

}

.titleName h1{
    font-size: 5rem;
}
#loading{
    position: fixed;
    inset: 0;
    background-color: #265674;
    z-index: 999999999999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

